body {
    margin: 0;

    background-color: rgb(253, 253, 253);
}

h1 {
    margin: 0px;
    font-weight: normal;
}

h2 {
    font-size: 44px;
    margin-top: 140px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    position: sticky; 
    margin: 0px;
    padding: 0px;

}

ul {
    list-style: none;

}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #242427;
    z-index: 2;
    position: sticky; 
    top: 0; 
    /* height: 80px; */
    font: 2em Arial, sans-serif;
    padding: 0px 0px;
    font-size: 24px;
    text-shadow: white .5px .5px .5px;
}

.header li {
    color: wheat;
    margin: 0px;
    padding: 30px 30px;
}

.header a {
    color: wheat;
    margin: 0px 20px;
    text-decoration: none;
}

.header li:hover {
    background-color: #14141f;
}

.photo-name {
    display: grid;
    grid-template-columns: 400px 800px;
    grid-gap: 0px 60px;
    margin-top: 150px;
    justify-content: center;
}

.my-photo {
    width: 400px;
    border-radius: 100%;
    margin-right: 0px;
}

.photo-name .name {
    font-family: 'Island Moments', cursive;
    font-size: 160px;
}

.photo-name p {
    margin: 0px;
    padding: 0px;
}

.photo-name .last-name {
    display: block;
    margin-left: 100px;
}

.photo-name .description {
    font-family: 'Courier New', Courier, monospace;
    position: relative;
   /*  bottom: 50px; */
    font-size: 60px;
    font-weight: 900;
    width: max-content;

}

.heart span.hearticon {
    background: url("img/heart-svgrepo-com.svg") no-repeat;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: left;
    padding: 20px;
}

.heart {
    color: #000000;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 0px;
    border-radius: 10px;
    vertical-align: top;
    margin-top: 70px;
    border: 0px solid;
    position: relative;
    bottom: 50px;
    left: 180px;
}

.heart:hover span.hearticon {
    background: url("img/BLACK_SVG_heart.svg.png") no-repeat;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: left;
    padding: 20px;
}

.heart span.hearticon.added {
    opacity: 0;
}

.heart.added {
    background: url("img/RED_SVG_heart.svg.png") no-repeat;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: left;
}

.heart .likes-number {
    margin-left: 16px;
    line-height: 14px;
    font-size: 20px;
    font-weight: 600;
}

.photo-name::after {
    display: block;
    width:1400px;
    content: '';
    margin: 60px;
    margin-top: 160px;
    border-bottom: 3px solid #000;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1440px;
    margin: 0 auto;
    min-height: 50px;
}

.section {
    width: calc(50% - 20px);
    padding: 10px;
    padding-bottom: 35px;
    border-bottom: 1px solid #000;
    font-size: 24px;
    line-height: 36px;
    font-family: 'Courier New', Courier, monospace;
    margin: -120px 0px;
    padding: 240px 0px;
}

* {
    box-sizing: border-box;
}

.skills-table dd {
    text-align: center;
    background-color: whitesmoke;
    border: 2px solid;
    border-radius: 20px;
}

dl {
    display: block;
    color: rgb(20, 11, 0);
}

dd {
    margin-left: -50px;
    margin-right: 120px;

}

.skills-table dt {
    text-align: center;
    margin: 20px;
    margin-left: -50px;
    margin-right: 120px;
}


.skills-level {
    font-family: 'Estonia', cursive;
    color: #ffffff;
    background-color: #242427;
    text-align: center;
    border-radius: 20px;

}

.skills-level-ok {
    background-color: #242427;
}


.section pre{
    border-radius: 20px;
    padding: 10px;
    width: max-content;
    background-color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid black;
}




@font-face {
    font-family: 'Island Moments';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/islandmoments/v1/NaPBcZfVGvBdxIt7Ar0qzkXJF9TBKIk.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


.footer {
    background: #000000;
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: rgb(250, 240, 223);
    font-size: 24px;

}

.github {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width: 120px;
}

.github img {
    width: 80px;
}

.rss img {
    width: 100px;
}

.year {
    font-size: 40px;

}